@model Vidly.Models.Customer
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<br>

@if (@Model.BirthDate.HasValue)
{
    <H2>Birthdate: @Model.BirthDate.Value.ToShortDateString()</H2>
}

<h2>Membership Type: @Model.MembershipType.Name</h2>

